@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-black: #000;
  --font-dark: #232323;
  --font-gray: #464646;
  --font-light-gray: #747474;
  --card-beige: #FAF0EA;
  --footer: #F6E7DA;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

a {
  color: var(--font-black);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
a:hover {
  color: var(--font-gray);
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

h3 {
  color: var(--font-black);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

.container {
  max-width: 1600px;
  padding: 0 200px;
}

.bold {
  font-weight: bold;
}

.map-iframe {
  width: 590px;
  height: 367px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 114px;
  padding-top: 10px;
  margin: auto;
  z-index: 100;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 36px;
}
.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 43px;
  padding-left: 0;
}
.header-menu::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(18px, 13px);
          transform: translate(18px, 13px);
}

.header-phones {
  font-weight: 600;
  color: var(--font-black);
}

.header-search {
  cursor: pointer;
}

.header-mobile {
  position: absolute;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #fff;
  right: 0;
  display: none;
}
.header-mobile .header-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--font-gray);
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.menu-checked::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}
.menu-checked::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media screen and (max-width: 1260px) {
  .header-menu ul {
    gap: 15px;
  }
}
@media screen and (max-width: 1150px) {
  .header {
    position: fixed;
    background-color: var(--footer);
    width: 100%;
    top: 0;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header-menu::after {
    width: 0;
  }
  .header-menu ul {
    position: absolute;
    top: 0;
    margin-top: 114px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 0;
  }
  .header-menu ul li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #222;
  }
  .header-menu ul li a {
    display: block;
    color: #fff;
  }
  .open-menu ul li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media screen and (max-width: 480px) {
  .header .header-left {
    padding-left: 10px;
  }
  .header .header-right {
    padding-right: 10px;
  }
}
.main {
  margin: 0 auto;
  width: 100%;
}

.main-hero {
  width: 100%;
  height: 629px;
  background-image: url("../assets/bg/impuls-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: var(--font-dark);
}

.main-hero__headers {
  padding-top: 192px;
  margin: 0 auto;
}

.main-hero__head1 {
  font-size: 64px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}

.main-hero__head2 {
  font-weight: 500;
  font-size: 36px;
  max-width: 484px;
  line-height: 150%;
}

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 25px;
  margin-top: 40px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  min-width: 248px;
}

.advantages-item__img {
  width: 50px;
  height: 50px;
}

.main-catalog {
  margin: 0 auto;
}

.catalog-item {
  border: 1px solid var(--card-beige);
}

.catalog-items__top {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  grid-template-rows: repeat(3, 210px);
  justify-items: center;
  gap: 20px 20px;
  grid-template-areas: "A B C" "A D E" "G F E";
}
.catalog-items__top .catalog-item:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 130px;
}
.catalog-items__top .catalog-item:first-child .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__top .catalog-item:first-child .catalog-item__image-container img {
  max-width: 270px;
  max-height: 200px;
}
.catalog-items__top .catalog-item:nth-child(1) {
  grid-area: A;
}
.catalog-items__top .catalog-item:nth-child(2) {
  grid-area: B;
}
.catalog-items__top .catalog-item:nth-child(2) .catalog-item__image-container img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(3) {
  grid-area: C;
}
.catalog-items__top .catalog-item:nth-child(3) .catalog-item__image-container img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(4) {
  grid-area: D;
  gap: 76px;
}
.catalog-items__top .catalog-item:nth-child(4) img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(5) {
  grid-area: E;
}
.catalog-items__top .catalog-item:nth-child(5) img {
  max-height: 320px;
}
.catalog-items__top .catalog-item:nth-child(6) {
  grid-area: G;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0px;
}
.catalog-items__top .catalog-item:nth-child(6) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__top .catalog-item:nth-child(7) {
  grid-area: F;
  gap: 20px;
}
.catalog-items__top .catalog-item:nth-child(7) img {
  max-height: 150px;
}

.catalog-items__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-items__bottom .catalog-item {
  width: 285px;
  height: 210px;
}
.catalog-items__bottom .catalog-item:nth-child(1) {
  gap: 15px;
}
.catalog-items__bottom .catalog-item:nth-child(1) img {
  max-height: 150px;
}
.catalog-items__bottom .catalog-item:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(2) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__bottom .catalog-item:nth-child(2) .catalog-item__info h4 {
  margin-top: 10px;
}
.catalog-items__bottom .catalog-item:nth-child(3) {
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(3) img {
  max-height: 150px;
}
.catalog-items__bottom .catalog-item:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(4) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__bottom .catalog-item:nth-child(4) img {
  max-height: 80px;
}

.catalog-item {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fdf8f5;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 40px;
}
.catalog-item .catalog-item__info {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.catalog-item .catalog-item__info a {
  text-decoration: none;
}

.catalog-item__image-container {
  max-width: 370px;
}
.catalog-item__image-container img {
  max-width: 200px;
  max-height: 100px;
}

.catalog-item__info h4 {
  margin-bottom: 6px;
}

.main-individual {
  margin: 0 auto;
}

.individual-hero {
  background-image: url("../assets/bg/individual-bg.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  margin-top: 106px;
}
.individual-hero h2 {
  font-size: 48px;
  line-height: 150%;
  color: var(--font-dark);
  font-weight: 600;
  letter-spacing: 0%;
}

.main-news {
  margin: 0 auto;
}

.news-container {
  margin-top: 90px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.news-container h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

.news-items {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-item {
  max-width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-item__title {
  margin: 16px 0;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 20px;
}

.news-item__info {
  font-size: 12px;
  margin-top: 0;
  line-height: 150.5%;
}

.news-item__link-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  font-size: 12px;
}

.news-item__link,
.news-item__date {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0%;
  font-size: 12px;
}

.section-contacts {
  margin: 0 auto;
}

.contacts-container {
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-info__head {
  margin-bottom: 50px;
}

.contacts-info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--font-dark);
}
.contacts-info__data a {
  color: var(--font-dark);
  line-height: 180%;
  /* &:hover {
    color: var(--font-black);
    font-weight: 500;
  } */
}

.contacts-info__social a {
  margin-right: 17px;
}

.main-title {
  background-image: url("../assets/bg/page-title-bg.png");
  background-position: center center;
  padding-bottom: 50px;
  max-height: 216px;
  margin: 0 auto;
}
.main-title .page-title__section {
  margin: 0 auto;
  padding-top: 50px;
}
.main-title .page-title__breadcumbs ul {
  font-family: "Raleway";
  font-size: 14px;
  color: var(--font-dark);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
}
.main-title .page-title__breadcumbs ul li {
  word-break: keep-all;
  margin-bottom: 5px;
}
.main-title .page-title__breadcumbs li:not(:last-child)::after {
  content: "»";
  margin: 0 5px;
}
.main-title h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  margin: 8px 0 0;
}
.main-title p {
  line-height: 180%;
  margin: 0;
}

.about-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-info__item p {
  line-height: 180%;
}

.about-advantages {
  padding-top: 36px;
  margin-bottom: 60px;
}
.about-advantages .advantages-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}
.about-advantages .advantages-item:nth-child(2) {
  padding-left: 30px;
}
.about-advantages .advantages-item:nth-child(3) {
  padding-right: 20px;
}
.about-advantages .advantages-item p {
  line-height: 160%;
  margin: 6px 0;
}

.about-clients {
  margin: 0 auto;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-clients h2 {
  margin: 0;
}

.about-clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
  margin-top: 60px;
}

.stocks-section {
  margin-top: 80px;
}

.stock-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stock-item {
  height: 440px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 37px;
  padding-left: 31px;
}
.stock-item:nth-child(1) {
  width: 683px;
  background-image: url("../assets/stocks/Frame 3542.jpg");
}
.stock-item:nth-child(2) {
  background-image: url("../assets/stocks/Frame 3545.jpg");
  width: 488px;
}
.stock-item:nth-child(3) {
  background-image: url("../assets/stocks/Frame 3546.jpg");
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.stock-item p {
  font-weight: 500;
  margin: 0;
}
.stock-item h4 {
  font-weight: 600;
  margin: 8px 0 16px;
  font-size: 28px;
}

.contacts-page__contacts-container {
  margin-top: 80px;
}

.contacts-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 95px;
}
.contacts-page__info p {
  line-height: 180%;
}
.contacts-page__info .contacts-page__info-tel a {
  display: block;
}
.contacts-page__info .contacts-info__social {
  min-width: 180px;
}

.map-iframe__contacts-page {
  width: 590px;
  height: 469px;
}

@media screen and (max-width: 1615px) {
  .mobile-container {
    padding: 0 100px;
  }
  .catalog-items__top {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .about-clients__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stock-item:nth-child(1) {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .stock-item:nth-child(2) {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}
@media screen and (max-width: 1510px) {
  .contacts-page__contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .contacts-page__contacts-container .contacts-page__info {
    padding-top: 0;
  }
  .contacts-page__contacts-container .contacts-map {
    width: 100%;
  }
  .contacts-page__contacts-container .contacts-map .map-iframe__contacts-page {
    width: 100%;
  }
}
@media screen and (max-width: 1420px) {
  .catalog-items__top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "A B" "A C" "D E" "G F";
  }
  .catalog-items__top .catalog-item {
    width: 100%;
  }
  .catalog-items__top .catalog-item:nth-child(5) img {
    max-height: 180px;
  }
  .catalog-items__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .catalog-items__bottom .catalog-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: auto;
    width: 48.5%;
  }
  .news-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 1150px) {
  .main-hero__head1 {
    font-size: 48px;
  }
  .main-hero__head2 {
    font-size: 24px;
  }
  .main-advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .advantages-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .individual-hero {
    height: 330px;
  }
  .individual-hero h2 {
    font-size: 36px;
  }
  .advantages-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-container {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contacts-map {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .map-iframe {
    width: 100%;
  }
  .main-title {
    margin-top: 114px;
  }
  .about-advantages .advantages-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-advantages .advantages-item:nth-child(2) {
    padding-left: 0;
  }
  .about-advantages .advantages-item:nth-child(3) {
    padding-right: 0;
  }
  .about-advantages .advantages-item .advantages-item__text {
    text-align: center;
  }
}
@media screen and (max-width: 920px) {
  .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .catalog-item .catalog-item__info {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .catalog-items__top {
    grid-template-rows: repeat(3, 255px);
  }
  .catalog-items__top .catalog-item:nth-child(4) {
    gap: 20px;
  }
  .catalog-items__top .catalog-item:nth-child(5) img {
    max-height: 140px;
  }
  .catalog-items__top .catalog-item:nth-child(7) img {
    max-height: 90px;
  }
  .catalog-items__top .catalog-item__image-container {
    max-height: 90px;
  }
  .catalog-items__top .catalog-item__image-container img {
    width: 100%;
    max-height: 90px;
  }
  .catalog-items__bottom .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .catalog-items__bottom .catalog-item:nth-child(1) img {
    max-height: 70px;
  }
  .catalog-items__bottom .catalog-item:nth-child(3) img {
    max-height: 70px;
  }
  .main-individual {
    padding: 0;
  }
  .individual-hero h2 {
    font-size: 24px;
  }
  .about-info__item {
    gap: 30px;
  }
  .about-info__item div {
    width: 100%;
  }
  .about-info__item div img {
    width: 100%;
  }
  .stock-item:nth-child(1) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .stock-item:nth-child(2) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
  .main-hero {
    height: 490px;
  }
  .main-hero__headers {
    padding-top: 190px;
  }
  .main-individual {
    padding: 0;
  }
  .individual-hero {
    padding: 50px;
  }
  .main-title .page-title__section h1 {
    font-size: 32px;
  }
  .about-clients__item {
    width: 100%;
  }
  .about-clients__item img {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .contacts-page__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-hero__headers {
    padding-left: 20px;
  }
  .main-hero__headers .main-hero__head1 {
    font-size: 36px;
  }
  .main-hero__headers .main-hero__head2 {
    font-size: 20px;
  }
  .catalog-items__top,
  .catalog-items__bottom {
    gap: 0;
  }
  .catalog-items__bottom {
    margin-top: 0;
  }
  .contacts-info h3,
  .contacts-info div {
    text-align: center;
  }
}
.section-catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 60px auto 120px;
  gap: 30px;
}

.catalog-container__filters-left {
  min-width: 273px;
  margin-top: 34px;
}

.filters-left__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 10px;
}
.filters-left__head h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 5px;
}

.filters-left__reset {
  border: none;
  background: none;
  color: var(--font-gray);
  margin-top: auto;
}

.filters-category {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 9px;
  height: 635px;
}

.filtes-line {
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
  display: block;
}

.filters-category__list {
  list-style: none;
  padding: 0;
}
.filters-category__list li {
  margin: 14px 0;
}
.filters-category__list a {
  font-size: 14px;
  color: var(--font-gray);
}
.filters-category__list .filters-category__list {
  padding-left: 10px;
}
.filters-category__list .filters-category__list .filters-category__list {
  padding-left: 17px;
}

.category__list-item {
  font-weight: 600;
}

.list-item__first {
  font-weight: 600;
}

.list-item__bold {
  font-weight: 600;
}
.list-item__bold a {
  color: var(--font-black);
}

.list-item__active a {
  color: var(--font-black);
}

.filter__checkbox-items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  overflow: hidden;
  overflow-y: scroll;
  height: 145px;
}

.checkbox-items__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.filter__checkbox-item input:checked + label > svg {
  height: 13px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}
.filter__checkbox-item label:active::before {
  background-color: #e6e6e6;
}
.filter__checkbox-item label {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter__checkbox-item label::before {
  content: "";
  top: 0;
  height: 18px;
  width: 18px;
  margin-right: 1rem;
  float: left;
  border: 1px solid var(--font-gray);
  border-radius: 0px;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}
.filter__checkbox-item svg {
  stroke-width: 1px;
  height: 0;
  width: 24px;
  position: absolute;
  left: -38px;
  top: 4px;
  stroke-dasharray: 33;
}

.filters-checkboxes {
  padding-top: 22px;
  margin-top: 22px;
  border-top: 1px solid #f0f0f0;
}

.filters-checkboxes__title {
  margin-bottom: 20px;
  cursor: pointer;
}
.filters-checkboxes__title h4 {
  font-size: 14px;
  letter-spacing: 0;
  display: inline;
}
.filters-checkboxes__title img {
  margin-top: 5px;
  float: right;
}

.catalog-container__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-container__filters-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-row-gap: 60px;
  width: 100%;
  grid-auto-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin: 20px auto 40px;
}

.item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  height: 338px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-catalog__img-container {
  width: 285px;
  min-height: 303px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
          box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  border: 1px solid var(--card-beige);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-catalog__img-container img {
  max-width: 150px;
}

.item-catalog__description-info {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.items-catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

#filter-button__all {
  display: none;
}

.filter-button__sort {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: var(--font-gray);
}
.filter-button__sort:nth-child(2) {
  padding-left: 18px;
}

.filter-button__sort-active {
  color: var(--font-black);
}
.filter-button__sort-active::after {
  content: url("../assets/icons/button-active.svg");
  position: absolute;
  right: -9px;
}

.filter__items-count span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-right: 12px;
}

.filter-button__number {
  font-family: "Raleway";
  font-weight: 400;
  padding: 5px;
  border: none;
  color: var(--font-black);
  background: none;
  padding: 5px;
  cursor: pointer;
}

.filter-button__count {
  font-size: 14px;
}

.filter-button__count-active {
  background-color: #bb9078;
  color: white;
}

.items-catalog__pagination span {
  margin-top: auto;
}

.pagination-button {
  font-size: 18px;
  padding: 5px 11px;
  background-color: #e2e2e2;
}

.pagination-button__active {
  color: white;
  background-color: #bb9078;
}

.close-button {
  display: none;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  -webkit-transform: translate(10px, -20px);
          transform: translate(10px, -20px);
  right: 0;
  cursor: pointer;
}
.close-button .line {
  position: absolute;
  width: 20px;
  top: 0;
  height: 3px;
  border-radius: 2px;
  background: hsl(0, 0%, 0%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.close-button .line:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.filters-left__close {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.filters-left__close div {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--font-dark);
}
.filters-left__close div:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.filters-left__close div:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 200;
  display: none;
}

.modal-bg__open {
  display: block;
}

@media screen and (max-width: 1510px) {
  .catalog-container__filters-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .catalog-container__filters-left {
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 300px;
    -webkit-transform: translateX(-353px);
            transform: translateX(-353px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 50px 20px 20px;
    border: 1px solid var(--card-beige);
    z-index: 300;
    top: 0;
  }
  .close-button {
    display: block;
  }
  .filters-left__open {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #filter-button__all {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .items-catalog__pagination {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.product-item {
  margin: 0 auto;
}

.product-slider-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  margin-top: 60px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.product-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.slider-front {
  width: 582px;
  height: 582px;
  -webkit-box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
          box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  border: 1px solid var(--card-beige);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.slider-front__image {
  max-width: 300px;
  width: 60%;
}

.slider-front__glass {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.slider-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
  margin-top: 22px;
}
.slider-bottom img {
  width: 60%;
}

.slider-bottom__img-container {
  border: 1px solid var(--card-beige);
  -webkit-box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
          box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  width: 85px;
  height: 90px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(255, 227, 209, 0.5);
}

.product-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-description h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
}
.product-description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.specs-item {
  margin: 0 auto;
}

.spect-item__container {
  margin-top: 40px;
  padding: 40px 40px 10px;
  border: 1px solid var(--card-beige);
}
.spect-item__container h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.specs-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.specs-info p {
  font-size: 14px;
  line-height: 205.5%;
  margin-bottom: 32px;
}
.specs-info p:last-child {
  margin-bottom: 0;
}

.related-items {
  margin: 120px auto;
  margin-top: 120px;
}

.related-slider__container {
  position: relative;
  margin-top: 60px;
}

.related-slider__control {
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 100;
}
.related-slider__control img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.related-slider__control:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#related-slider__left {
  left: 0;
  -webkit-transform: translate(-70px, 127px);
          transform: translate(-70px, 127px);
}

#related-slider__right {
  right: 0;
  -webkit-transform: translate(70px, 127px);
          transform: translate(70px, 127px);
}
#related-slider__right img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.related-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.related-slider__item {
  width: 285px;
}
.related-slider__item p {
  width: 285px;
}

.slider-container {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--font-gray);
}

.swiper-button-next {
  -webkit-transform: translate(100px, -50px);
          transform: translate(100px, -50px);
}

.swiper-button-prev {
  -webkit-transform: translate(-100px, -50px);
          transform: translate(-100px, -50px);
}

.related-slider__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
  height: 285px;
  border: 1px solid var(--card-beige);
  -webkit-box-shadow: 1px 1px 50px 1px rgba(255, 227, 209, 0.5);
          box-shadow: 1px 1px 50px 1px rgba(255, 227, 209, 0.5);
}
.related-slider__img-container img {
  width: 60%;
}

.related-slider__item-description {
  color: var(--font-black);
  line-height: 140.9%;
  letter-spacing: 0;
}

.full-product-slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.full-product-slider__inner {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.full-product-slider__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-slider__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.product-slider__full .slider-front {
  padding: 2rem;
  width: 70%;
}
.product-slider__full .slider-front .slider-front__image {
  width: 100%;
  height: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-slider__full .slider-front .slider-front__glass {
  display: none;
}

.close-slider {
  display: block;
  top: 0;
  z-index: 200;
  -webkit-transform: translate(10px, 30px);
          transform: translate(10px, 30px);
}
.close-slider:hover .line {
  background-color: #000;
}
.close-slider .line {
  background-color: gray;
}

@media screen and (max-width: 1439px) {
  .slider-front {
    width: 375px;
    height: 375px;
  }
}
@media screen and (max-width: 1234px) {
  #related-slider__left {
    -webkit-transform: translate(-70px, 96px);
            transform: translate(-70px, 96px);
  }
  #related-slider__right {
    -webkit-transform: translate(70px, 96px);
            transform: translate(70px, 96px);
  }
}
@media screen and (max-width: 1024px) {
  .swiper-button-next {
    -webkit-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }
  .swiper-button-prev {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
}
@media screen and (max-width: 768px) {
  .product-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-slider-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-front {
    width: 100%;
    height: auto;
    min-height: 500px;
  }
  .swiper-button-next {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  .swiper-button-prev {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
}
.footer {
  width: 100%;
  background-color: var(--footer);
  padding-top: 90px;
}

.footer-top {
  margin: 0 auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-top a img {
  width: 180px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 385px;
}

.contact-form__input-text {
  border: none;
  border-bottom: 1px solid var(--font-dark);
  height: 50px;
  background-color: var(--footer);
}
.contact-form__input-text:focus-visible, .contact-form__input-text:focus {
  outline: none;
}

.contact-form__input-button {
  height: 50px;
  background-color: rgb(187, 144, 120);
  border: none;
  color: white;
  font-style: 16px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0%;
  margin-top: 20px;
}

.footer-menu {
  padding-left: 125px;
}
.footer-menu h5 {
  margin-top: 0;
}
.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 22px;
  padding: 0;
}

.contact-form__input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact-form__checkbox-container {
  margin-top: 20px;
}
.contact-form__checkbox-container input:checked + label > svg {
  height: 13px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}
.contact-form__checkbox-container label:active::before {
  background-color: #e6e6e6;
}
.contact-form__checkbox-container label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
}
.contact-form__checkbox-container label::before {
  content: "";
  top: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  height: 25px;
  width: 25px;
  margin-right: 1rem;
  float: left;
  border: 2px solid var(--font-black);
  border-radius: 0px;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}
.contact-form__checkbox-container svg {
  stroke: #0080d3;
  stroke-width: 2px;
  height: 0;
  width: 24px;
  position: absolute;
  left: -43px;
  top: 9px;
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.footer-bottom {
  margin: 0 auto;
}

.footer-bottom__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  padding-bottom: 12px;
  height: 120px;
}
.footer-bottom__border span,
.footer-bottom__border b {
  font-size: 12px;
  color: var(--font-dark);
}

.footer-delta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-delta a span:last-child {
  float: right;
}

@media screen and (max-width: 1150px) {
  .footer-menu {
    padding-left: 0;
  }
  .contact-form {
    max-width: 300px;
  }
  .footer-bottom__border {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
}
@media screen and (max-width: 900px) {
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-top a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-top .footer-menu,
  .footer-top .contact-form {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .footer-top {
    padding: 0 50px;
  }
}
@media screen and (max-width: 560px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer-top .footer-menu,
  .footer-top .contact-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
  .footer-bottom__border {
    height: auto;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */