@font-face {
  font-family: "Inder";
  src: local("Inder"), local("Inder-Regular"), url("../../assets/fonts/Inder-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"), url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("../../assets/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-black: #000;
  --font-dark: #232323;
  --font-gray: #464646;
  --card-beige: #FAF0EA;
  --footer: #F6E7DA;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

a {
  color: var(--font-black);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
a:hover {
  color: var(--font-gray);
}

h3 {
  color: var(--font-black);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

.container {
  max-width: 1600px;
  padding: 0 200px;
}

.bold {
  font-weight: bold;
}

.map-iframe {
  width: 590px;
  height: 367px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 114px;
  padding-top: 10px;
  margin: auto;
}
.header a {
  text-decoration: none;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 36px;
}
.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 43px;
  padding-left: 0;
}
.header-menu::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(18px, 13px);
          transform: translate(18px, 13px);
}

.header-phones {
  font-weight: 600;
  color: var(--font-black);
}

.header-search {
  cursor: pointer;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.main-hero {
  width: 100%;
  height: 629px;
  background-image: url("../../assets/bg/impuls-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: var(--font-dark);
}

.main-hero__headers {
  padding-top: 192px;
}

.main-hero__head1 {
  font-size: 64px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}

.main-hero__head2 {
  font-weight: 500;
  font-size: 36px;
  max-width: 484px;
  line-height: 150%;
}

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 25px;
  margin-top: 40px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.advantages-item__img {
  width: 50px;
  height: 50px;
}

.main-catalog {
  margin: 0 auto;
}

.catalog-items__top {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  grid-template-rows: repeat(3, 210px);
  justify-items: center;
  gap: 20px 20px;
  grid-template-areas: "A B C" "A D E" "G F E";
}
.catalog-items__top .catalog-item:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 130px;
}
.catalog-items__top .catalog-item:first-child .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__top .catalog-item:first-child .catalog-item__image-container img {
  max-width: 270px;
  max-height: 200px;
}
.catalog-items__top .catalog-item:nth-child(1) {
  grid-area: A;
}
.catalog-items__top .catalog-item:nth-child(2) {
  grid-area: B;
}
.catalog-items__top .catalog-item:nth-child(2) .catalog-item__image-container img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(3) {
  grid-area: C;
}
.catalog-items__top .catalog-item:nth-child(3) .catalog-item__image-container img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(4) {
  grid-area: D;
  gap: 76px;
}
.catalog-items__top .catalog-item:nth-child(4) img {
  max-height: 140px;
}
.catalog-items__top .catalog-item:nth-child(5) {
  grid-area: E;
}
.catalog-items__top .catalog-item:nth-child(5) img {
  max-height: 320px;
}
.catalog-items__top .catalog-item:nth-child(6) {
  grid-area: G;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0px;
}
.catalog-items__top .catalog-item:nth-child(6) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__top .catalog-item:nth-child(7) {
  grid-area: F;
  gap: 20px;
}
.catalog-items__top .catalog-item:nth-child(7) img {
  max-height: 150px;
}

.catalog-items__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-items__bottom .catalog-item {
  width: 285px;
  height: 210px;
}
.catalog-items__bottom .catalog-item:nth-child(1) {
  gap: 15px;
}
.catalog-items__bottom .catalog-item:nth-child(1) img {
  max-height: 150px;
}
.catalog-items__bottom .catalog-item:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(2) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__bottom .catalog-item:nth-child(2) .catalog-item__info h4 {
  margin-top: 10px;
}
.catalog-items__bottom .catalog-item:nth-child(3) {
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(3) img {
  max-height: 150px;
}
.catalog-items__bottom .catalog-item:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0;
}
.catalog-items__bottom .catalog-item:nth-child(4) .catalog-item__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.catalog-items__bottom .catalog-item:nth-child(4) img {
  max-height: 80px;
}

.catalog-item {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fdf8f5;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 40px;
}
.catalog-item .catalog-item__info {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.catalog-item .catalog-item__info a {
  text-decoration: none;
}

.catalog-item__image-container {
  max-width: 370px;
}
.catalog-item__image-container img {
  max-width: 200px;
  max-height: 100px;
}

.catalog-item__info h4 {
  margin-bottom: 6px;
}

.main-individual {
  margin: 0 auto;
}

.individual-hero {
  background-image: url("../assets/bg/individual-bg.jpeg");
  background-position: center center;
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  margin-top: 106px;
}
.individual-hero h2 {
  font-size: 48px;
  line-height: 150%;
  color: var(--font-dark);
  font-weight: 600;
  letter-spacing: 0%;
}

.main-news {
  margin: 0 auto;
}

.news-container {
  margin-top: 90px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.news-container h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

.news-items {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.news-item {
  max-width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-item__title {
  margin: 16px 0;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 20px;
}

.news-item__info {
  font-size: 12px;
  margin-top: 0;
  line-height: 150.5%;
}

.news-item__link-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  font-size: 12px;
}

.news-item__link,
.news-item__date {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0%;
  font-size: 12px;
}

.section-contacts {
  margin: 0 auto;
}

.contacts-container {
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-info__head {
  margin-bottom: 50px;
}

.contacts-info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--font-dark);
}
.contacts-info__data a {
  color: var(--font-dark);
  line-height: 180%;
}
.contacts-info__data a:hover {
  color: var(--font-black);
  font-weight: 500;
}

.contacts-info__social a {
  margin-right: 17px;
}

.footer {
  width: 100%;
  background-color: var(--footer);
  padding-top: 90px;
}

.footer-top {
  margin: 0 auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-top a img {
  width: 180px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 385px;
}

.contact-form__input-text {
  border: none;
  border-bottom: 1px solid var(--font-dark);
  height: 50px;
  background-color: var(--footer);
}
.contact-form__input-text:focus-visible, .contact-form__input-text:focus {
  outline: none;
}

.contact-form__input-button {
  height: 50px;
  background-color: rgb(187, 144, 120);
  border: none;
  color: white;
  font-style: 16px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0%;
  margin-top: 20px;
}

.footer-menu {
  padding-left: 125px;
}
.footer-menu h5 {
  margin-top: 0;
}
.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 22px;
  padding: 0;
}

.contact-form__input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact-form__checkbox-container {
  margin-top: 20px;
}
.contact-form__checkbox-container input:checked + label > svg {
  height: 13px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}
.contact-form__checkbox-container label:active::before {
  background-color: #e6e6e6;
}
.contact-form__checkbox-container label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
}
.contact-form__checkbox-container label::before {
  content: "";
  top: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  height: 25px;
  width: 25px;
  margin-right: 1rem;
  float: left;
  border: 2px solid var(--font-black);
  border-radius: 0px;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}
.contact-form__checkbox-container svg {
  stroke: #0080d3;
  stroke-width: 2px;
  height: 0;
  width: 24px;
  position: absolute;
  left: -43px;
  top: 9px;
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.footer-bottom {
  margin: 0 auto;
}

.footer-bottom__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  padding-bottom: 12px;
  height: 120px;
}
.footer-bottom__border span,
.footer-bottom__border b {
  font-size: 12px;
  color: var(--font-dark);
}

.footer-delta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-delta a span:last-child {
  float: right;
}/*# sourceMappingURL=style.css.map */