.section-catalog__container {
  display: flex;
  flex-direction: row;
  margin: 60px auto 120px;
  gap: 30px;
}

.catalog-container__filters-left {
  min-width: 273px;
  margin-top: 34px;
}

.filters-left__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 10px;
  h3 {
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 5px;
  }
}
.filters-left__reset {
  border: none;
  background: none;
  color: var(--font-gray);
  margin-top: auto;
}

.filters-category {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 9px;
  height: 635px;
}
.filtes-line {
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
  display: block;
}

.filters-category__list {
  list-style: none;
  padding: 0;
  li {
    margin: 14px 0;
  }
  a {
    font-size: 14px;
    color: var(--font-gray);
  }
  .filters-category__list {
    padding-left: 10px;
    .filters-category__list {
      padding-left: 17px;
    }
  }
}

.category__list-item {
  font-weight: 600;
}

.list-item__first {
  font-weight: 600;
}

.list-item__bold {
  font-weight: 600;
  a {
    color: var(--font-black);
  }
}

.list-item__active {
  a {
    color: var(--font-black);
  }
}

.filter__checkbox-items {
  display: none;
  flex-direction: column;
  gap: 18px;
  overflow: hidden;
  overflow-y: scroll;
  height: 145px;
}

.checkbox-items__open {
  display: flex;
}

.arrow-reverse {
  transform: rotate(180deg);
}

.filter__input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.filter__checkbox-item {
  // margin-top: 20px;
  input:checked + label > svg {
    height: 13px;
    animation: draw-checkbox ease-in-out 0.2s forwards;
  }
  label:active::before {
    background-color: #e6e6e6;
  }
  label {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    cursor: pointer;
    position: relative;
    user-select: none;
    &::before {
      content: "";
      top: 0;
      height: 18px;
      width: 18px;
      margin-right: 1rem;
      float: left;
      border: 1px solid var(--font-gray);
      border-radius: 0px;
      transition: 0.15s all ease-out;
    }
  }
  svg {
    stroke-width: 1px;
    height: 0; //Firefox fix
    width: 24px;
    position: absolute;
    left: -38px;
    top: 4px;
    stroke-dasharray: 33; //Firefox fix
  }
}

.filters-checkboxes {
  padding-top: 22px;
  margin-top: 22px;
  border-top: 1px solid #f0f0f0;
}

.filters-checkboxes__title {
  margin-bottom: 20px;
  cursor: pointer;
  h4 {
    font-size: 14px;
    letter-spacing: 0;
    display: inline;
  }
  img {
    margin-top: 5px;
    float: right;
  }
}

.catalog-container__items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog-container__filters-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-catalog {
  display: grid;
  // grid-template-columns: repeat(3, 285px);
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-row-gap: 60px;
  width: 100%;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  margin: 20px auto 40px;
}

.item-catalog {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 338px;
  justify-content: space-between;
  align-items: center;
}

.item-catalog__img-container {
  width: 285px;
  min-height: 303px;
  background-color: white;
  // box-shadow: 10px 5px 5px var(--card-beige);
  box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  border: 1px solid var(--card-beige);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 150px;
  }
}

.item-catalog__description-info {
  color: rgb(0, 0, 0);
  // font-family: 'Inder'; // не поддерживает кириллицу
  font-weight: 500;
}

.items-catalog__pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}

.filter-buttons {
  display: flex;
  gap: 40px;
}

#filter-button__all {
  display: none;
}

.filter-button__sort {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: var(--font-gray);
  &:nth-child(2) {
    padding-left: 18px;
  }
}

.filter-button__sort-active {
  color: var(--font-black);
  &::after {
    content: url("../assets/icons/button-active.svg");
    position: absolute;
    right: -9px;
  }
}

.filter__items-count {
  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-right: 12px;
  }
}

.filter-button__number {
  font-family: "Raleway";
  font-weight: 400;
  padding: 5px;
  border: none;
  color: var(--font-black);
  background: none;
  padding: 5px;
  cursor: pointer;
}

.filter-button__count {
  font-size: 14px;
}

.filter-button__count-active {
  background-color: #bb9078;
  color: white;
}

.items-catalog__pagination {
  span {
    margin-top: auto;
  }
}

.pagination-button {
  font-size: 18px;
  padding: 5px 11px;
  background-color: #e2e2e2;
}

.pagination-button__active {
  color: white;
  background-color: #bb9078;
}

.close-button {
  display: none;
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  position: absolute;
  transform: translate(10px, -20px);
  right: 0;
  cursor: pointer;

  .line {
    position: absolute;
    width: 20px;
    top: 0;
    height: 3px;
    border-radius: 2px;
    background: hsl(0, 0%, 0%);
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.filters-left__close {
  position: absolute;
  width: 30px;
  height: 30px;
  transform-origin: center;
  div {
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--font-dark);
    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 200;
  display: none;
}

.modal-bg__open {
  display: block;
}

@media screen and (max-width: 1510px) {
  .catalog-container__filters-top {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .catalog-container__filters-left {
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 300px;
    transform: translateX(-353px);
    transition: all 0.2s;
    padding: 50px 20px 20px;
    border: 1px solid var(--card-beige);
    z-index: 300;
    top: 0;
  }
  .close-button {
    display: block;
  }

  .filters-left__open {
    transform: translateX(0px);
  }
  #filter-button__all {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .items-catalog__pagination {
    align-self: center;
  }
}
