.product-item {
  margin: 0 auto;
}

.product-slider-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  margin-top: 60px;
}

.product-slide {
  flex: 1;
}

.slider-front {
  width: 582px;
  height: 582px;
  box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  border: 1px solid var(--card-beige);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-front__image {
  max-width: 300px;
}

.slider-front__glass {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.slider-bottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
  img {
    width: 60%;
  }
  margin-top: 22px;
}

.slider-bottom__img-container {
  border: 1px solid var(--card-beige);
  box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  width: 85px;
  height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description {
  flex: 1;
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0;
    margin-bottom: 24px;
  }
}

.specs-item {
  margin: 0 auto;
}

.spect-item__container {
  margin-top: 40px;
  padding: 40px 40px 10px;
  border: 1px solid var(--card-beige);
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
  }  
}

.specs-info {
  h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
  }
  p {
    font-size: 14px;
    line-height: 205.5%;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.related-items{
  margin: 120px auto;
  margin-top: 120px;
}

.related-slider__container {
  position: relative;
  margin-top: 60px;
}

.related-slider__control {
  position: absolute;
  top: 0;
  cursor: pointer; 
  z-index: 100;
  img {
    transition: all 0.2s ease-in;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

#related-slider__left {
  left: 0;
  transform: translate(-70px, 127px);
}

#related-slider__right {
  right: 0; 
  transform: translate(70px, 127px);
  img {
    transform: rotate(180deg);
  }
}

.related-slider__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.related-slider__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 285px;
  border: 1px solid var(--card-beige);
  box-shadow: 1px 1px 50px 3px rgba(255, 227, 209, 0.5);
  img {
    width: 60%;
  }
}

.related-slider__item-description {
  color: var(--font-black);
  line-height: 140.9%;
  letter-spacing: 0;
}
