.main {
  margin: 0 auto;
  width: 100%;
}

.main-hero {
  width: 100%;
  height: 629px;
  background-image: url("../../assets/bg/impuls-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: var(--font-dark);
}

.main-hero__headers {
  padding-top: 192px;
  // padding-left: 350px;
}

.main-hero__head1 {
  font-size: 64px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}

.main-hero__head2 {
  font-weight: 500;
  font-size: 36px;
  max-width: 484px;
  line-height: 150%;
}

.main-advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 25px;
  margin-top: 40px;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.advantages-item__img {
  width: 50px;
  height: 50px;
}

.main-catalog {
  margin: 0 auto;
}

.catalog-items__top {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  grid-template-rows: repeat(3, 210px);
  justify-items: center;
  gap: 20px 20px;
  grid-template-areas:
    "A B C"
    "A D E"
    "G F E";
  .catalog-item:first-child {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 130px;
    .catalog-item__info {
      align-self: flex-start;
    }
    .catalog-item__image-container {
      // max-width: 340px;
      img {
        max-width: 270px;
        max-height: 200px;
      }
    }
  }

  .catalog-item:nth-child(1) {
    grid-area: A;
  }

  // масла BORMA
  .catalog-item:nth-child(2) {
    grid-area: B;
    .catalog-item__image-container {
      img {
        max-height: 140px;
      }
    }
  }

  // патины
  .catalog-item:nth-child(3) {
    grid-area: C;
    .catalog-item__image-container {
      img {
        max-height: 140px;
      }
    }
  }

  // морилки
  .catalog-item:nth-child(4) {
    grid-area: D;
    gap: 76px;
    img {
      max-height: 140px;
    }
  }

  // клей
  .catalog-item:nth-child(5) {
    grid-area: E;
    img {
      max-height: 320px;
    }
  }

  // средства инд защиты
  .catalog-item:nth-child(6) {
    grid-area: G;
    flex-direction: column-reverse;
    gap: 0px;
    .catalog-item__info {
      align-self: flex-start;
    }
  }

  // полировальные системы
  .catalog-item:nth-child(7) {
    grid-area: F;
    gap: 20px;
    img {
      max-height: 150px;
    }
  }
}

.catalog-items__bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  .catalog-item {
    width: 285px;
    height: 210px;
  }
  .catalog-item:nth-child(1) {
    gap: 15px;
    img {
      max-height: 150px;
    }
  }
  .catalog-item:nth-child(2) {
    flex-direction: column-reverse;
    gap: 0;
    .catalog-item__info {
      align-self: flex-start;
      h4 {
        margin-top: 10px;
      }
    }
  }
  .catalog-item:nth-child(3) {
    gap: 0;
    img {
      max-height: 150px;
    }
  }
  .catalog-item:nth-child(4) {
    flex-direction: column-reverse;
    gap: 0;
    .catalog-item__info {
      align-self: flex-start;
    }
    img {
      max-height: 80px;
    }
  }
}

.catalog-item {
  width: 386px;
  display: flex;
  flex-direction: row;
  background-color: #fdf8f5;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  gap: 40px;
  .catalog-item__info {
    align-self: flex-end;
    a {
      text-decoration: none;
    }
  }
}

.catalog-item__image-container {
  max-width: 370px;
  img {
    max-width: 200px;
    max-height: 100px;
  }
}

.catalog-item__info {
  h4 {
    margin-bottom: 6px;
  }
}

.main-individual {
  margin: 0 auto;
}

.individual-hero {
  background-image: url("../assets/bg/individual-bg.jpeg");
  background-position: center center;
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  padding: 100px;
  margin-top: 106px;
  h2 {
    font-size: 48px;
    line-height: 150%;
    color: var(--font-dark);
    font-weight: 600;
    letter-spacing: 0%;
  }
}

.main-news {
  margin: 0 auto;
}

.news-container {
  margin-top: 90px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
  }
}

.news-items {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.news-item {
  max-width: 386px;
  display: flex;
  flex-direction: column;
}

.news-item__title {
  margin: 16px 0;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 20px;
}

.news-item__info {
  font-size: 12px;
  margin-top: 0;
  line-height: 150.5%;
}

.news-item__link-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-size: 12px;
}

.news-item__link,
.news-item__date {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0%;
  font-size: 12px;
}
