* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

a {
  color: var(--font-black);
  transition: all 0.2s ease-in;
  &:hover {
    color: var(--font-gray);
  }
}

.container {
  max-width: 1600px;
  padding: 0 200px;
}