@import "./variables/fonts.scss";
@import "./variables/global.scss";
@import "./base/base.scss";
@import "./sections/header.scss";
@import "./sections/main.scss";

.footer {
  // margin: 0 auto;
  width: 100%;
  background-color: var(--footer);
  padding-top: 90px;
}

.footer_top {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    img {
      width: 180px;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 385px;
}

.contact-form__input-text {
  border: none;
  border-bottom: 1px solid var(--font-dark);
  height: 50px;
  background-color: var(--footer);
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

.contact-form__input-button {
  height: 50px;
  background-color: rgb(187, 144, 120);
  border: none;
  color: white;
  font-style: 16px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0%;
  margin-top: 20px;
}
.footer-menu {
  padding-left: 125px;
  h5 {
    margin-top: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 22px;
    padding: 0;
  }
}

.contact-form__input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact-form__checkbox-container {
  margin-top: 20px;
  input:checked + label > svg {
    height: 13px;
    animation: draw-checkbox ease-in-out 0.2s forwards;
  }
  label:active::before {
    background-color: #e6e6e6;
  }
  label {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      top: 0;
      transform: translateY(4px);
      height: 25px;
      width: 25px;
      margin-right: 1rem;
      float: left;
      border: 2px solid var(--font-black);
      border-radius: 0px;
      transition: 0.15s all ease-out;
    }
  }
  svg {
    stroke: #0080d3;
    stroke-width: 2px;
    height: 0; //Firefox fix
    width: 24px;
    position: absolute;
    left: -43px;
    top: 9px;
    stroke-dasharray: 33; //Firefox fix
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
