@import './variables/fonts.scss';
@import './variables/global.scss';
@import './base/base.scss';
@import './sections/header.scss';
@import './sections/main.scss';


.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три столбца */
  grid-template-rows: repeat(4, auto); /* Четыре строки */
  grid-gap: 10px; /* Расстояние между элементами */
}

.catalog-item {  
  // background: rgba(250, 240, 234, 0.2),url(2148391850),rgb(253, 248, 245);
  width: 386px;
}

.catalog-item:first-child {
  grid-row-end: span 2; /* Занимает две строки */
}

.catalog-item:nth-child(5) {
  grid-row-end: span 2; /* Седьмой элемент занимает две строки */
}